<p id="notice"></p>
<div class="container"></div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
      <%= render 'books/error', book: @user %>
      <div class="field">
        <%= f.label :Name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :Image %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>
      <div class="field">
        <%= f.label :Introduction %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit 'Update User', class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>